# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
sst-env.d.ts
sst.config.*.json

# Local environment files
.env
.env.*
!.env.example   # keep a template if you want to show required vars

# AWS/SST specific
.sst/
.aws-sam/
cdk.out/

# MacOS system files
.DS_Store

# VSCode / JetBrains IDE settings
.vscode/
.idea/

# Misc
*.swp
*.swo
